* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;

}

:root {
    --mainColor: #FA7436;
    --mainColorHover: #fd864e;
    --whiteHover: #edecec;
    --colorSection: #6f6e6e;
    --spacing-padding: 0px 19%;
    --black:#000;
    --polla : "asdasdas";



body {
    background-color: #fefcfb;
}

/* ESTILOS HEADER*/

.cajon-grande {
    margin: var(--spacing-padding);
    background-color: #fefcfb;
}

.botonEstilos {
    margin: 0;
    font-size: 15px;
    border: none;
    padding: 4.5px 9px;
    width: 170px;
    height: 50px;
    font-weight: 500;
}

.btn-sing-up {
    background-color: var(--mainColor);
    color: white;
}

.btn-sing-up:hover {
    background-color: var(--mainColorHover);
}

.btn-login {
    background-color: white;
    color: var(--mainColor);
    width: 90px;
}

.btn-login:hover {
    background-color: var(--whiteHover);
}

a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding: 0 12px;
    font-weight: 400;
}

.btn {
    height: 80px;
    width: 100px;
}

ul {
    margin: 0;
    padding: 0;
}


/*ESTILOS PRIMERA SECCION*/


.journey-color {
    color: var(--mainColor);
}

.title-1 {
    font-size: 60px;
    font-weight: 700;
}

.container-left,
.container-right {
    height: 600px;
    width: 500px;
    padding-top: 20px;

}

.text-secondary {
    line-height: 35px;
    font-weight: 400;
}

.btn-discover {
    background-color: white;
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
    height: 60px;
    width: 170px;
    margin-top: 60px;
}

.floating-nav {

    height: 120px;
    width: 70%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
}

.bnt-explore-now {
    height: 60px;
    width: 160px;
}

.nav-floating-item,
.text-nav {
    font-size: 17px;
    font-weight: 600;
}

p {
    margin: 0;
    font-display: initial;
}


/* SEGUNDA SECCION*/

.contenedor-sect2 {
    background-color: #f7f8fc;
    margin-top: 76px;
    padding-top: 80px;
    height: 683px;
}

.container-text {
    width: 530px;
}

.title-sect-2 {
    font-size: 48px;
    font-weight: 680;
}

.h2-to-do {
    color: var(--mainColor);
}

.text-sect-2 {
    color: var(--colorSection);
    font-size: 20px;
    padding: 10px 20px 30px 20px;
    margin-bottom: 40px;
}



.column {
    height: 100px;
    width: 50px;
}

.card {
    padding: 40px;
    height: 270px;
    width: 360px;
    border: none;
    -webkit-box-shadow: 0px 0px 29px -7px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 29px -7px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 29px -7px rgba(0, 0, 0, 0.1);
}

.container-cards {
    margin: var(--spacing-padding);
}

.card-title {
    font-size: 25px;
    font-weight: 700;
    margin: 20px 0 20px 0;
}

.card-text {
    color: var(--colorSection);
    font-size: 16px;
    font-weight: 500;
}